div#overlays {
  display: none;
}
div#overlays.opened {
  display: block;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
div#overlays.opened > div {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
div#overlays.opened > div:last-of-type.def {
  background: rgba(9, 60, 98, 0.08);
}
div#overlays.opened > div:nth-of-type(1) {
  z-index: 1;
}
div#overlays.opened > div:nth-of-type(2) {
  z-index: 2;
}
div#overlays.opened > div:nth-of-type(3) {
  z-index: 3;
}
div#overlays.opened > div:nth-of-type(4) {
  z-index: 4;
}
div#overlays.opened > div:nth-of-type(5) {
  z-index: 5;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
div.container > div.add_task {
  padding: 50px;
  border-radius: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
div.container > div.add_task > input {
  outline: none;
  height: 40px;
  width: 200px;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 12px;
  border: 1px solid #4f4fe2;
  caret-color: #4f4fe2;
}

div.button {
  font-weight: 500;
  background-color: #4f4fe2;
  color: white;
  cursor: pointer;
  border-radius: 14px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  user-select: none;
}
div.button.disabled {
  background-color: #dbdbf5;
  color: #abc7ff;
  cursor: no-drop;
}

* {
  font-family: "Montserrat", serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
body > div {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
  position: relative;
  border-radius: 40px;
  box-shadow: 0 0 50px 5px rgba(34, 60, 80, 0.2);
  height: 100%;
}
body > div > div.head {
  display: flex;
  border-radius: 20px;
  flex: none;
}
body > div > div.head > a.add_category {
  display: block;
  width: 20px;
  padding: 10px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  background-color: #20adff;
  flex: 1;
  border-radius: 16px;
  color: white;
  font-weight: 500;
}
body > div > div.content {
  padding: 20px;
  flex: auto;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: left;
  gap: 16px;
}
body > div > div.content > div.category > div > div.title {
  margin-bottom: 10px;
}
body > div > div.content > div.category > div > div.tasks > div.task {
  margin-bottom: 5px;
}
body > div > div.content > div.category > div > div.tasks > div.task > label > span > input {
  box-sizing: border-box;
  background: white;
  overflow: hidden;
  min-height: 40px;
  border: 1px solid;
  display: block;
  color: inherit;
  text-decoration: none;
  user-select: none;
  transition: background 100ms ease-out 0s;
  cursor: pointer;
  box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px, rgba(15, 15, 15, 0.1) 0 2px 4px;
  border-radius: 4px;
}
body > div > div.content > div.category > div > div.tasks > div.add {
  align-self: start;
  padding: 4px 4px 4px 20px;
  color: #cacaca;
  font-size: 14px;
  background-position: 3px center;
  background-repeat: no-repeat;
  background-image: url("icons/plus_grey.svg");
  background-size: 12px;
}

/*# sourceMappingURL=style.css.map */
