@import "global";
@import "overlay";
@import "interface";

* { font-family: "Montserrat", serif; }
html { width: 100%; height: 100%; }

body {
	width: 100%; height: 100%; margin: 0; padding: 20px; box-sizing: border-box;
	> div {
		padding: 20px; box-sizing: border-box;
		display: flex; justify-content: space-between; flex-direction: column; gap: 12px;
		position: relative; border-radius: 40px; box-shadow: 0 0 50px 5px rgba(34, 60, 80, 0.2); height: 100%;

		> div {
			&.head {
				display: flex; border-radius: 20px; flex: none;
				> a.add_category {
					display: block; width: 20px; padding: 10px; user-select: none; cursor: pointer; text-align: center; background-color: #20adff;
					flex: 1; border-radius: 16px; color: white; font-weight: 500;
				}
			}

			&.content {
				padding: 20px;
				flex: auto; overflow: auto; position: relative;
				display: flex; justify-content: left; gap: 16px;

				> div.category {
					> div {
						> div.title { margin-bottom: 10px; }
						> div.tasks {
							> div.task {
								margin-bottom: 5px ;
								> label {
									> span {
										> input {
											display: block; box-sizing: border-box; background-color: white; overflow: hidden;
											text-decoration: none; user-select: none; cursor: pointer; border-radius: 4px; min-height: 40px; border: 1px solid $text_grey;
										}
									}
								}
							}
						}
						> div.add {
							align-self: start; cursor: pointer; user-select: none;
							padding: 4px 4px 4px 20px; color: $text_grey; font-size: 14px;
							background-position: 3px center; background-repeat: no-repeat;
							background-image: url("icons/plus_grey.svg"); background-size: 12px;
						}
					}
				}
			}
		}
	}
}