@import "overlay";
@import "interface";

* { font-family: "Montserrat", serif; }
html { width: 100%; height: 100%; }

body {
	width: 100%; height: 100%; margin: 0; padding: 20px; box-sizing: border-box;
	> div {
		padding: 20px; box-sizing: border-box;
		display: flex; justify-content: space-between; flex-direction: column; gap: 12px;
		position: relative; border-radius: 40px; box-shadow: 0 0 50px 5px rgba(34, 60, 80, 0.2); height: 100%;

		> div {
			padding: 20px;
			&.head {
				flex: none; display: none;
				background-color: aliceblue; border-radius: 20px; height: 50px;
			}

			&.content {
				display: flex; justify-content: left; gap: 16px;
				flex: auto;

				> div.category {
					> div {
						> div.tasks {
							display: flex; flex-direction: column; align-items: center; height: 100%; gap: 12px;
							> div.add {
								padding-left: 14px; color: #cacaca; font-size: 14px;
								background-position: left center; background-repeat: no-repeat;
								background-image: url("icons/plus_grey.svg"); background-size: 12px;
							}
							//> div.list { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 12px; }

						}
					}
				}
			}
		}
	}
}